@model RecipeProjectMVC.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tools)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookingSteps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookingSteps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ranking)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
